.ShoppingCard {
	margin: 20vh auto;
	background: white;
	border-radius: 8px;
	padding: 50px;
	max-width: 600px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.05),
		0 8px 20px rgba(0, 0, 0, 0.05);
}

img {
	width: 100%;
	height: auto;
}
